<p id="notice"><%= notice %></p>

<p>
  <strong>File name:</strong>
  <%= @boot_script.file_name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @boot_script.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @boot_script.user %>
</p>

<p>
  <strong>Accessibility:</strong>
  <%= @boot_script.accessibility %>
</p>

<%= link_to 'Edit', edit_boot_script_path(@boot_script) %> |
<%= link_to 'Back', boot_scripts_path %>
